@model IEnumerable<MealPlanner.Domain.Entities.Icon>

@{
    ViewData["Title"] = "Icons";
}

<h1>Icons</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create new icon</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Code</th>
            <th>Emoji</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Code</td>
            <td>@item.Emoji</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>