@model MealPlanner.Domain.Entities.MealItem

@{
    ViewData["Title"] = "Meal item details";
}

<h1>Meal item details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Meal</dt>
        <dd class="col-sm-10">@Model.Meal.Name</dd>

        <dt class="col-sm-2">Food</dt>
        <dd class="col-sm-10">@Model.Food.Name</dd>

        <dt class="col-sm-2">Quantity</dt>
        <dd class="col-sm-10">@Model.QuantityValue</dd>

        <dt class="col-sm-2">Quantity unit</dt>
        <dd class="col-sm-10">@Model.QuantityUnit.Name</dd>

        <dt class="col-sm-2">Per 100 unit</dt>
        <dd class="col-sm-10">@Model.Per100Unit.Name</dd>

        <dt class="col-sm-2">Protein</dt>
        <dd class="col-sm-10">@Model.ProteinPer100</dd>

        <dt class="col-sm-2">Carbs</dt>
        <dd class="col-sm-10">@Model.CarbsPer100</dd>

        <dt class="col-sm-2">Fat</dt>
        <dd class="col-sm-10">@Model.FatPer100</dd>

        <dt class="col-sm-2">Kcal</dt>
        <dd class="col-sm-10">@Model.KcalPer100</dd>

        <dt class="col-sm-2">Locked</dt>
        <dd class="col-sm-10">@Model.IsLocked</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to list</a>
</div>