@model MealPlanner.Domain.Entities.Profile

@{
    ViewData["Title"] = "Profile details";
}

<h1>Profile details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">User</dt>
        <dd class="col-sm-10">@Model.User.Name</dd>

        <dt class="col-sm-2">Weight</dt>
        <dd class="col-sm-10">@Model.WeightKg</dd>

        <dt class="col-sm-2">Goal</dt>
        <dd class="col-sm-10">@Model.Goal</dd>

        <dt class="col-sm-2">Updated at</dt>
        <dd class="col-sm-10">@Model.UpdatedAt</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to list</a>
</div>